html, body {
    background-color: rgb(56, 56, 56) !important;
    color: lavender;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, p {
    text-align: center;
    /*list-style-position: inside;*/
}

a {
    color:cornflowerblue;
}

img {
    display: block;
    object-fit: contain;
    margin-left: auto;
    margin-right: auto;
    min-width: inherit;
    max-width: 50%;
}

div.separator {
    margin: auto;
    
    border-bottom: 1px solid rgb(99, 99, 99);
    border-top: 1px solid rgb(99, 99, 99);
    
    max-width: 50%;
    min-width: 200px;
    min-height: 1px;
}

div.list {
    margin: auto;
    width: 50%;
    max-width: fit-content;
}

div.content {
    
    margin: auto;
    min-width: 500px;
    max-width: 1000px;
    width: 50%;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 8px;
    
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    
    box-shadow: 0px 0px 10px lavender, inset 0px 0px 20px black;
}

table {
    margin-left: auto;
    margin-right: auto;
    
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    padding: 10px;
}

th, td {
    border: 1px dashed rgb(99, 99, 99);
    border-radius: 4px;
    padding: 10px;
}